<div class="parent-container">
  <div class="parent-container__header">
    <h1>Parent container</h1>
    <div class="parent-container__header-data">
      <div class="parent-container__header-data--left">
        <div class="label">Transferred Data to Parent component</div>
        <div class="data" [ngClass]="{ 'no-data': !transferredData }">
          {{ transferredData ? transferredData : 'no data' }}
        </div>
      </div>
      <div class="parent-container__header-data--right">
        <div class="label">Send Data to Children component</div>
        <input #inputData type="text" pInputText />
      </div>
    </div>
  </div>
  
  <div class="parent-container__body">
    <app-left></app-left>
    <app-right></app-right>
  </div>
</div>