<div class="right-container">
  <h2>Right children container</h2>
  <!-- Step 2 ngIf -->
  <div *ngIf="false" class="">
    <div class="label">Send Data to the Parent component</div>
    <div class="action">
      <input #inputData type="text" pInputText />
      <button
        (click)="sendData(inputData.value)"
        pButton
        label="Send data to children"
      ></button>
    </div>
  </div>

  <!-- Step 3 ngIf service get/ BS / AS-->
  <div *ngIf="false" class="">
    <div class="label">Transferred Data from the Left component</div>
    <div class="no-data" [ngClass]="{ 'data': companyName }">
      {{ companyName ? companyName : 'no data' }}
    </div>
  </div>
</div>
