<div class="left-container">
  <h2>Left children container</h2>
  <!-- Step 1 ngIf -->
  <div *ngIf="true" class="container-body">
    <div class="label">Transferred Data from the Parent component</div>
    <div class="no-data" [ngClass]="{ 'data': companyName }">
      {{ companyName ? companyName : 'no data' }}
    </div>
  </div>

  <!-- Step 3 ngIf -->
  <div *ngIf="false" class="container-body">
    <div class="label">Send Data to the Right component</div>
    <div class="action">
      <input #inputData type="text" pInputText />
      <button
        (click)="sendData(inputData.value)"
        pButton
        label="Send data to children"
      ></button>
    </div>
  </div>
</div>
