/* You can add global styles to this file, and also import other style files */
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  color: black;
  height: 40px;
  font-style: italic;
  border: 1px solid black;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 25px;
  font-style: normal;
  border: 2px solid deepskyblue;
  margin-top: 7px;
}

.label {
  text-align: center;
}
// .p-button {
//   background: deepskyblue !important;
//   border: 1px solid deepskyblue !important;
// }